/* Schneeflocken */
.snowfall {
  pointer-events: none;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -1;
}

.snowfall span {
  position: absolute;
  top: -10px;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  opacity: 0.7;
  animation: fall linear infinite;
}

/* Schneeflocken Animation */
@keyframes fall {
  0% {
    transform: translateY(0) scale(1);
  }
  100% {
    transform: translateY(110vh) scale(0.7);
  }
}
